# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Ambientes e Segredos
.env
.env.local

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Saídas e Testes
output/
*.ics
*.csv
.pytest_cache/
